@media only screen and (min-width: 320px) and (max-width: 426px) {
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    overflow-x: hidden;
    max-width: 426px;
    .blur-ring-1,
    .blur-ring-2,
    .blur-ring-3 {
      display: none;
    }

    .bg-1,
    .bg-2,
    .bg-3 {
      display: none;
    }
  }
  footer {
    display: none;
  }
  nav {
    display: none;
  }
  #navigation {
    display: none;
  }
  #rslogo img {
    height: 90px;
    width: 100px;
    margin-left: -10px;
  }

  #name {
    font-size: 25px;
  }
  .section-width {
    width: 100%;
    overflow-x: hidden;
  }

  #bio {
    font-size: 12px;
    margin-top: -12px;
  }
  .home-buttons {
    font-size: 12px;
    padding: 8px 16px;
  }
  #about {
    text-align: center;
    padding: 20px;
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 20px;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 12px;
    }

    #underline {
      display: flex;
      width: 100%;
    }
    #resume-button a {
      display: flex;
      justify-content: center;
      font-size: 12px;
      padding: 0;
    }
    #resume-button {
      font-size: 15px;
    }

    #about-skills {
      display: flex;
      flex-direction: column;
    }
    #about-skills .skill-tag {
      font-size: 12px;
      padding: 3px;
    }
    #about-skills .emoji {
      font-size: 23px;
    }
  }

  #education h2 {
    font-size: 25px;
  }
  #education h3 {
    font-size: 15px;
  }
  #education p {
    font-size: 10px;
  }
  #education .education-sections {
    padding: 12px;
  }
  #education .education-sections i {
    font-size: 15px;
  }
  #education .education-tag {
    width: 35px;
    height: 35px;
  }
  #certifications {
    display: none;
  }
  #projects {
    display: none;
  }
  #contact {
    display: none;
  }

  #skills h2 {
    font-size: 25px;
  }
  #skills h3 {
    font-size: 15px;
  }
  .tech-item img {
    width: 20px;
    height: 20px;
  }
  #skills .tech-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 120px;
    gap: 5px;
  }
  #skills .tech-item span {
    font-size: 10px;
  }
  #skills .bg-1,
  #skills .bg-2,
  #skills .bg-3 {
    display: none;
  }
  #skills .tech-orbit {
    display: none;
  }
  #skills {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #skills .tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 427px) and (max-width: 769px) {
  body {
    display: none;
  }
}
@media only screen and (min-width: 770px) and (max-width: 1025px) {
  body {
    display: none;
  }
}
@media only screen and (min-width: 500px) and (max-width: 615px) {
  body {
    display: none;
  }
}
